.date_filter {
    width: 50%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: #ffffff;
    input {
        padding: 4px 7px;
        border-radius: 7px;
        margin: 0 4px;
    }
    .date_btn {
        background-color: var(--blue);
        border: none;
        outline: none;
        padding: 4px;
        border-radius: 7px;
        color: #ffffff;
    }
}
@media (max-width: 1060px) {
    .date_filter {
        width: 90%;
        display: flex;
        justify-content: space-between;
        input {
            width: 40%;
        }
    }
}
@media (max-width: 738px) {
    .date_filter {
        width: 90%;
        display: flex;
        justify-content: space-between;
        input {
            width: 30%;
        }
    }
}
@media (max-width: 550px) {
    .date_filter {
        width: 80%;
        display: flex;
        justify-content: space-between;
        input {
            width: 20%;
        }
    }
}